{
    "printWidth": 120,
    "tabWidth": 4,
    "trailingComma": "none",
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "jsxSingleQuote": true,
    "jsxBracketSameLine": true,
    "arrowParens": "always",
    "quoteProps": "as-needed"
}