.comment-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.comment-list {
    flex: 1;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid rgb(185, 185, 185);
    border-bottom: 1px solid rgb(185, 185, 185);
    justify-content: space-between;
    //align-items: center;
    padding: 8px;
    height: 112px;
}

.form-inner-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    border: none;
    background-color: #fff;
    height: max-content;
    overflow: hidden;
}

.form-inner-section textarea {
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    margin: 4px 16px;
    padding: 12px 4px;
    height: 40px;
    box-sizing: border-box;
}

.form-textarea-submit {
    border: none;
    background-color: inherit;
    color: blue;
    font-size: 16px;
    height: 40px;
    margin: 8px 16px 8px 0px;
}
