.my-feed-page {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;

    .btn {
        .btn-add-post {

            font-size: 14px;
        }
    }

    .tab-menu {
        .tabs {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #000;
            cursor: pointer;

            li {
                padding: 10px 20px;
                color: #333;

                &.active {
                    color: #000;
                    font-weight: bold;
                }

            }

        }
    }
}

.feed-detail-page {
    width: 100%;
    max-width: 768px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .feed-image {
        width: 60%;
    }

    .feed-comment {
        width: 40%;
    }
}

@media (max-width: 768px) {

    .feed-detail-page {
        display: flex;
        flex-direction: column;

        .feed-image {
            width: 100%;
        }

        .feed-comment {
            width: 100%;
        }
    }

}