.btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;

    &.gap {
        .btn {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    background-color: #333;
    cursor: pointer;

    &.btn-cancel {
        background-color: #eee;
        color: black;
    }

    &.btn-submit {
        background-color: crimson;
        color: white;
    }

    &.btn-primary {
        background-color: crimson;
        color: white;
    }

    &.btn-line {
        background-color: white;
        border-color: black;
        color: black;
    }
}

.form-container {
    max-width: 480px;
    margin: 0 auto;

    .form-title {
        font-size: 20px;
        font-weight: 600;
        padding: 16px 0;
    }

    .input-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        label {
            width: 100%;
            font-size: 14px;
            font-weight: 700;
            margin: 0 0 10px 0;
        }

        input {
            height: 36px;
        }

        input,
        textarea {
            border: 1px solid #eee;
            border-radius: 5px;
        }

        textarea {
            max-height: 100px;
            height: 100%;
        }
    }

    .btn-wrap {
        margin: 20px 0 0 0;
    }
}


.flex-container {
    display: flex;
    justify-content: space-between; /* Adjusted to space-between for better layout */
    align-items: center;
    width: 100%; /* Set to full width */
    padding: 10px; /* Added padding to the container */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.navbar-text {
    flex-grow: 1; /* Allow the text to take up available space */
    font-size: 16px; /* Adjust font size as needed */
}

.flex-item {
    background-color: lightblue;
    padding: 5px; /* Reduced padding to decrease height */
    border: 1px solid #000;
    text-align: center;
}

.logout-button {
    padding: 10px 20px; /* Increase padding for a larger button */
    font-size: 16px; /* Adjust font size */
    border: none;
    background-color: #add8e6;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #87ceeb; /* Change color on hover */
}



@media (max-width: 768px) {}